body {
    font-family: Montserrat, sans-serif;
    text-decoration-color: rgb(37, 84, 214);
    background-color: #F0C400;
}


.navigation-container {
    background-color: #D3D5DE;
}

.news-container {}

.scorealert-container{
    background-color: #FFD519;
}