body {
    font-family: Montserrat, sans-serif;
}

.navigation-container {
    background-color: #D3D5DE;
}

.chant-container {
    background: url('./images/Goodison02.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.scorealert-container{
    background-color: #FFD519;
}
